.blog-profile-pic{
    position: absolute;
    top: 32px;
    right: 2.23vw;
    width: clamp(40px,3.34vw,56px);
    height: clamp(40px,3.34vw,56px);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    border: 1px solid white;
}
.blog-profile-pic:hover{
    box-shadow: rgb(182, 182, 182) 0 0 10px 2px;

}
.overflowY {
    overflow-y: hidden;
    touch-action: none;
}

@media screen and (max-width: 481px) {
.blog-profile-pic{
    cursor: none;
}
}