.spacer-1 {
    width: 100vw;
    height: 96px;
    background-color: #F9F5FF;
}
.spacer-2 {
    width: 100vw;
    height: 6.2vw;
    background-repeat: no-repeat;
    background-position: right 0 top 36px;
}
.spacer-3 {
    width: 100vw;
    height: 16px;
}
.spacer-4 {
    width: 100vw;
    height: 96px;
}
.spacer-5 {
    width: 100%;
    height: clamp(30px,15.42vw,240px);
}
.spacer-6 {
    width: 100%;
    height: clamp(30px,4.12vw,80px);
}
.spacer-7 {
    width: 100%;
    height: 56px;
}
.spacer-8 {
    width: 100%;
    height: clamp(30px,5.84vw,100px);
}
.spacer-9 {
    width: 100%;
    height: clamp(30px,3.62vw,70px);
}
.spacer-10 {
    width: 100%;
    height: clamp(140px,34.5vw,500px);
}