.spacer-1 {
    width: 100vw;
    height: 96px;
}
.spacer-2 {
    width: 100vw;
    height: 96px;
    background-image: url("../assets/right1.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 36px;
}
.spacer-3 {
    width: 100vw;
    height: 16px;
}
.spacer-4 {
    width: 100vw;
    height: 96px;
}
.spacer-5 {
    width: 100%;
    height: 222px;
}
.spacer-6 {
    width: 100%;
    height: 60px;
}
.spacer-7 {
    width: 100%;
    height: 56px;
}
.spacer-8 {
    width: 100%;
    height: 84px;
}
.spacer-9 {
    width: 100%;
    height: 52px;
}
.spacer-10 {
    width: 100%;
    height: 496px;
}