html,body{
    margin: 0 auto;
    overflow-x: clip;
}
.overflowY{
    overflow-y: hidden;
    height: 100vh;
    touch-action: none;
}
.background{
    background-image: url('../assets/backgroundTest.svg');
    background-position: right 0px top 39.44vh;
    background-size: 100vw ;
    background-repeat: no-repeat;
    position: relative;
}
.main-div{
    width: 89vw;
    min-height: 36vh;
    margin: auto;
    display: flex;
    justify-content: center;
}
.posts{
    box-sizing: border-box;
    width: 84.5vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-auto-flow: row;
    place-items: center;    
}
@media screen and (max-width:481px) {
.posts{
    grid-template-columns: repeat(1, 1fr);
    }
}