html,body{
    margin: 0 auto;
    overflow-x: clip;
}
.overflowY{
    overflow-y: hidden;
    height: 100vh;
    touch-action: none;
}
.background{
    background-color: #F9F5FF;
    height: 766px;
    /* background-image: url("../assets/left1.svg"),
    url("../assets/left2.svg"),
    url("../assets/right1.svg"),
    url("../assets/right2.svg"),
    url("../assets/left1.svg"),
    url("../assets/right12.svg"); */
    background-position: left 0px top 574px,
    left 0px top 666px,
    right 0 top 378px,
    right -20px top 442px,
    right 0px top 526px,
    right 200px top 410px;
    background-repeat: no-repeat;
    position: relative;
}
.main-div{
    width: 89vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
.posts{
    box-sizing: border-box;
    width: 84.5vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-auto-flow: row;
    place-items: center;    
}
@media screen and (max-width:481px) {
.posts{
    grid-template-columns: repeat(1, 1fr);
    }
}