#root,html,body{
    box-sizing: border-box;
    margin: 0;
    width: 1728px;
}
/* Sign-In CSS Code for Both Dekstop and Mobile */
.dektop-login-main-container{
    width: 1640px;
    height: 700px;
    box-sizing: border-box;
    display: flex;
    /* display: none; */
    margin: 150px 0px 0px 160px;
    padding-right: 208px;
}

.login-left-subcontainer{
    position: relative;
    width: 700px;
    height: 700px;
    margin-right: 280px;
}

.login-right-subcontainer {
    position: relative;
    width: 450px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-phone-pic{
    width: 690px;
    height: 700px;
}
.login-title-div{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.login-title{
    color: #424242;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.login-request{
    margin-top: 5px;
    margin-bottom: 0;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.login-email-div{
    width: 450px;
    margin-top: 30px;
    display:  flex;
    flex-direction: column;
    align-items: start;
}
.login-email-p{
    margin-top: 0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
    font-size: 18px;
}
.login-email-input{
    width: 428px;
    height: 54px;
    border: none;
    outline: #6E6CDFCC solid 1px;
    border-radius: 16px;
    padding-left: 20px;
}
.login-password-div{
    width: 450px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.login-password-p{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}
.login-password-input{
    width: 428px;
    border: none;
    border-radius: 16px;
    outline: solid 1px #BDBDBD;
    padding-left: 20px;
    height: 54px;
    /* background-image: url("./assets/password-eye.svg");
    background-position: right 10px top 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px; */
}
.login-password-eye{
    border: none;
    background-image: url("./assets/password-eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 282px;
    background-color: white;
}
.login-forget-pass-div{
    width: 450px;
    height: 22px;
    display: flex;
    justify-content: end;
    margin-top: 16px;
    margin-bottom: 64px;
}

.login-forget-btn{
    border: none;
    color: #6E6CDF;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.login-signin-div{
    width: 450px;
    height: 58px;
    display: flex;
    justify-content: center;
}
.login-signin-btn{
    width: 450px;
    border: none;
    color: white;
    background-color: #6E6CDF;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
.login-or-div{
    margin-top: 24px;
}
.login-or-p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #BDBDBD;
}
.login-google-div{
    margin-top: 24px;
    width: 450px;
    height: 56px;
}
.login-google-btn{
    width: 450px;
    height: 56px;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-image: url("./assets/google.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left 100px top 14px;
    background-color: white;
}
.login-no-account-div{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.login-no-account-p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #BDBDBD;
}
.login-no-account-btn{
    border: none;
    color: #6E6CDF;
    height: 26px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 0;
    background-color: white;
}


/* Mobile CSS Code */

.mobile-login-main-container{
    width: 400px;
    height: 780px;
    padding: 24px;
    display: none;
}
.mobile-login-title-div{
    display: flex;
    flex-direction: column ;
}
.mobile-login-title-p{
    margin-top: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #424242;
    margin-bottom: 12px;
}
.mobile-login-request-p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #BDBDBD;
    margin: 0;
}
.mobile-login-email-div{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.mobile-login-email-p{
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.mobile-login-email-input{
    border: none;
    outline: 1px solid #6E6CDF;
    border-radius: 18px;
    padding-left: 12px;
    width: 345px;
    height: 52px;
    padding-right: 0;
}
.mobile-login-password-div{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.mobile-login-password-p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
}
.mobile-login-password-input{
    width: 345px;
    height: 52px;
    border: none;
    outline: #BDBDBD 1px solid;
    border-radius: 18px;
    padding-left: 12px;
    padding-right: 0;
}
.mobile-login-password-eye{
    position: absolute;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url("./assets/password-eye.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    top: 310px;
    left: 350px;
    background-color: white;
}
.mobile-login-forgot-div{
    margin-top: 16px;
    display: flex;
    justify-content: end;
    padding-right: 40px;
}
.mobile-login-forgot-btn{
    border: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6E6CDF;
    background-color: white;
}
.mobile-login-signin-div{
    margin-top: 162px;
    display: flex;
    justify-content: center;
}
.mobile-login-sigin-btn{
    width: 346px;
    height: 50px;
    border: none;
    background-color: #6E6CDF;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 16px;
}
.mobile-login-or-div{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-login-or-p{
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #BDBDBD;
}
.mobile-login-google-div{
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-login-google-btn{
    background-image: url("./assets/google.svg");
    background-repeat: no-repeat;
    background-position: left 50px top 12px;
    width: 345px;
    height: 52px;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: white;
}
.mobile-login-signup-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.mobile-login-signup-p{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #BDBDBD;
}
.mobile-login-signup-btn{
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6E6CDF;
    background-color: white;
}

/* Sign-Up CSS Code for Dektop and Mobile */

.signup-desktop-main-div{
    width: 1434px;
    height: 800px;
    margin: 110px 0px 40px 160px;
    display: flex;
    /* padding-right: 208px; */
    justify-content: center;
    
}
.signup-dektop-left-div{
    width: 700px;
    height: 700px;
    margin-right: 290px;
}
.signup-desktop-pic{
    width: 690px;
    height: 700px;
}
.signup-desktop-right-div{
    width: 450px;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-desktop-title-div{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.signup-desktop-title-p{
    color: #424242;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.signup-desktop-request-p{
    color: #BDBDBD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 0px;
}
.signup-desktop-name-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 450px;
    height: 96px;
    margin-top: 48px;
}
.signup-desktop-name-p{
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.signup-desktop-name-input{
    border: none;
    outline: #BDBDBD 1px solid;
    border-radius: 16px;
    padding-left: 20px;
    width: 428px;
    height: 54px;
}
.signup-desktop-email-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 32px;
    width: 450px;
    height: 96;
}
.signup-desktop-email-p{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.signup-desktop-email-input{
    border: none;
    outline: #6E6CDF 1px solid;
    border-radius: 16px;
    width: 428px;
    height: 54px;
    padding-left: 20px;
}
.signup-desktop-password-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 32px;
    width: 450px;
    height: 96;
}

.signup-desktop-password-p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-desktop-password-input{
    border: none;
    outline: #BDBDBD 1px solid;
    border-radius: 16px;
    width: 428px;
    height: 54px;
    padding-left: 20px;
}
.signup-desktop-password-btn{
    width: 20px;
    height: 20px;
    border: none;
    background-image: url(./assets/password-eye.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: 20px 20px;
    bottom: 34px;
    left: 416px;
    background-color: white;
}
.signup-desktop-signup-div{
    margin-top: 44px;
    width: 450px;
    height: 58px;
}
.signup-desktop-signup-btn{
    width: 450px;
    height: 58px;
    border: none;
    background-color: #6E6CDF;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: white;
}
.signup-desktop-or-div{
    margin-top: 24px;
    width: 150px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-desktop-or-p{
    margin: 0;
    font-size: 16px;
    color: #BDBDBD;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.signup-desktop-google-div{
    margin-top: 26px;
    width: 450px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-desktop-google-btn{
    width: 450px;
    height: 56px;
    border: none;
    background-image: url("./assets/google.svg");
    background-repeat: no-repeat;
    background-position: left 100px top 14px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: white;
}
.signup-desktop-signin-div{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: baseline;
    width: 450px;
    height: 26px;
    justify-content: center;
}
.signup-desktop-signin-p{
    margin: 0;
    font-size: 16px;
    color: #BDBDBD;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.signup-desktop-signin-btn{
    border: none;
    color: #6E6CDF;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
}